$breakpoint: 832px;

$primaryFont: "GT Eesti";

$spacingScaleUnit: 8px;

$white: #fff;
$offWhite: #fafafa;
$lightGrey: #ccc;
$mediumGrey: #666;
$darkGrey: #333;
$dodgerBlue: #2d7ff9;
$deepSkyBlue: #18bfff;
$radicalRed: #f82b60;

$deptEng: $deepSkyBlue;
$deptCst: $dodgerBlue;
$deptMkt: $radicalRed;